
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Documentacion de la API</title>
</head>
<body>
  <h1>Documentación de la API - Costos</h1>
  <h3>Listar Costo</h3>
<table>
  <tr><td>Número</td> <td>1</td></tr>
  <tr><td>Nombre del Servicio</td>  <td>Listar costos</td></tr>
  <tr><td>URL</td>  <td>/listar_costos</td></tr>
  <tr><td>DescripciÓn</td>  <td>Permite listar los costos registrados en la base de datos</td></tr>
  <tr><td>Metodo HTTP</td>  <td>GET</td></tr>
  <tr><td>Header:</td>  <td>Token:</td></tr>
  <tr><td>Usuarios</td> <td>Administrador</td></tr>
  <tr><td>Request json</td>  <td> </td></tr>
  <tr><td>Respuesta json</td>  <td>	
    Correcto: 
    Status: 200
    json:
    [
    {
        "id_costos": 1,
        "fk_id_actividad": 1,
        "fk_id_tipo_recursos": 1
    }
  ]
  <br>
Incorrecto:

Status: 404
body:{
  "status": 404
  "message" : "No se encontraron costos."
}
<br>
Error: 

Status: 500 
json: {
  status: 500
  "message" : "Error en el sistema"
}
</td></tr>
<tr><td>Programador</td> <td>Kevin Andrade Maecha - devkam</td></tr>
</table>
<br>
<h3>Registrar Costos</h3>
<table>
  <tr><td>Número</td> <td>2</td></tr>
  <tr><td>Nombre del Servicio</td>  <td>Registrar costos</td></tr>
  <tr><td>URL</td>  <td>/registrar</td></tr>
  <tr><td>Descripcion</td>  <td>Permite registrar costos en la base de datos</td></tr>
  <tr><td>Metodo HTTP</td>  <td>POST</td></tr>
  <tr><td>Header:</td>  <td>Token:</td></tr>
  <tr><td>Usuarios</td> <td>Administrador</td></tr>
  <tr><td>Request json</td> <td>   {
    "precio": "100.78",
    "fk_id_actividad": 2,
    "fk_id_tipo_recursos": 1
  } </td></tr>
  <tr><td>Respuesta json</td>  <td>	
    Correcto: 
    Status: 200
    json:
    {
      "mensaje": "Registro exitoso de sus costos"
    }
  <br>
Incorrecto:

Status: 404
body:{
  "status": 404
  "message" : "Fallo el registro de sus costos"
}
<br>
Error: 

Status: 500 
json: {
  status: 500
  "message" : "Error en el sistema"
}
</td></tr>
<tr><td>Programador</td> <td>Kevin Andrade Maecha - devkam</td></tr>
</table>
<br>
<h3>Actualizar Costo</h3>
<table>
  <tr><td>Número</td> <td>3</td></tr>
  <tr><td>Nombre del Servicio</td>  <td>Actualizar costos</td></tr>
  <tr><td>URL</td>  <td>/actualizar/:id_costos</td></tr>
  <tr><td>Descripción</td>  <td>Permite actualizar costos registrados en la base de datos</td></tr>
  <tr><td>Metodo HTTP</td>  <td>PUT</td></tr>
  <tr><td>Header:</td>  <td>Token:</td></tr>
  <tr><td>Usuarios</td> <td>Administrador</td></tr>
  <tr><td>Request json</td>  <td>    {
    "id_costos": 1
    "precio": "100.78",
    "fk_id_actividad": 2,
    "fk_id_tipo_recursos": 1
  } </td></tr>
  <tr><td>Respuesta json</td>  <td>	
    Correcto: 
    Status: 200
    json:
    {
      "La información ha sido actualizada"
  }
  <br>
Incorrecto:

Status: 404
body:{
  "status": 404
  "message": "No se pudo actualizar la información"
}
<br>
Error: 

Status: 500 
json: {
  status: 500
  "message" : "Error en el sistema"
}
</td></tr>
<tr><td>Programador</td> <td>Kevin Andrade Maecha - devkam</td></tr>
</table>
<br>
<h3>Buscar Costo</h3>
<table>
  <tr><td>Número</td> <td>4</td></tr>
  <tr><td>Nombre del Servicio</td>  <td>Buscar costos</td></tr>
  <tr><td>URL</td>  <td>/buscar/:id_costos</td></tr>
  <tr><td>Descripción</td>  <td>Permite buscar los costos registrados en la base de datos</td></tr>
  <tr><td>Metodo HTTP</td>  <td>GET</td></tr>
  <tr><td>Header:</td>  <td>Token:</td></tr>
  <tr><td>Request json</td>  <td></td></tr>
  <tr><td>Respuesta json</td>  <td>	
    Correcto: 
    Status: 200
    json:
    {
      "id_costos": 1
      "precio": "100.78",
      "fk_id_actividad": 2,
      "fk_id_tipo_recursos": 1
  }
  <br>
Incorrecto:

Status: 404
body:{
  "status": 404
  "message" : "No se encontró un recurso con ese ID"
}
<br>
Error: 

Status: 500 
json: {
  status: 500
  "message" : "Error en el sistema"
}
</td></tr>
<tr><td>Programador</td> <td>Kevin Andrade Maecha - devkam</td></tr>
</table>
</body>
</html>