<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Documentacion API</title>
</head>
<body>
  <hr>
  <h1>COSTOS</h1>
<table>
  <tr><td>Número</td> <td>1</td></tr>
  <tr><td>Nombre del Servicio</td>  <td>Listar costos</td></tr>
  <tr><td>URI</td>  <td>/listar</td></tr>
  <tr><td>Descripcion</td>  <td>Permite listar los costos registrados en la base de datos</td></tr>
  <tr><td>Verbo HTTP</td>  <td>Verbo GET</td></tr>
  <tr><td>Header:</td>  <td>token:token </td></tr>
  <tr><td>Request json</td>  <td> </td></tr>
  <tr><td>Respuesta json</td>  <td>	
    Correcto: 
    Status: 200
    json:
    [
    {
        "id_costos": 1,
        "precio": 201,
        "nombre_actividad": "fumigare",
        "tiempo": "04:12:11",
        "observaciones": "hol apa",
        "valor_actividad": 13213,
        "nombre_recursos": "pala",
        "cantidad_medida": 0,
        "unidades_medida": "",
        "extras": ""
    },
    {
        "id_costos": 2,
        "precio": 300,
        "nombre_actividad": "pas",
        "tiempo": "12:32:12",
        "observaciones": "no",
        "valor_actividad": 213134,
        "nombre_recursos": "fertilizante el machito",
        "cantidad_medida": 1222,
        "unidades_medida": "litro",
        "extras": "no se necesito nada mas"
    }
  ]
  <br>
Incorrecto:

Status: 404
body:{
  "status": 404
  "message" : "No se encontraron costos."
}
<br>
Error: 

Status: 500 
json: {
  status: 500
  "message" : "Error en el sistema"
}
</td></tr>
<tr><td>Nombre Desarrollador:</td> <td>Sharit Daniela Vargas Almario (devsdv)</td></tr>
</table>
<hr> <br>
<table>
  <tr><td>Número</td> <td>2</td></tr>
  <tr><td>Nombre del Servicio</td>  <td>Registrar costos</td></tr>
  <tr><td>URI</td>  <td>/registrar</td></tr>
  <tr><td>Descripcion</td>  <td>Permite registrar costos en la base de datos</td></tr>
  <tr><td>Verbo HTTP</td>  <td>Verbo POST</td></tr>
  <tr><td>Header:</td>  <td>token:token </td></tr>
  <tr><td>Request json</td> <td>   {
    "precio": "100.78",
    "fk_id_actividad": 2,
    "fk_id_tipo_recursos": 1
  } </td></tr>
  <tr><td>Respuesta json</td>  <td>	
    Correcto: 
    Status: 200
    json:
    {
      "id_costos": 2,
      "precio": 300,
      "nombre_actividad": "pas",
      "tiempo": "12:32:12",
      "observaciones": "no",
      "valor_actividad": 213134,
      "nombre_recursos": "fertilizante el machito",
      "cantidad_medida": 1222,
      "unidades_medida": "litro",
      "extras": "no se necesito nada mas"
  }
  <br>
Incorrecto:

Status: 404
body:{
  "status": 404
  "message" : "Fallo el registro de sus costos"
}
<br>
Error: 

Status: 500 
json: {
  status: 500
  "message" : "Error en el sistema"
}
</td></tr>
<tr><td>Nombre Desarrollador:</td> <td>Sharit Daniela Vargas Almario (devsdv)</td></tr>
</table>
<hr><br>
<table>
  <tr><td>Número</td> <td>3</td></tr>
  <tr><td>Nombre del Servicio</td>  <td>Actualizar costos</td></tr>
  <tr><td>URI</td>  <td>/actualizar/id_costos</td></tr>
  <tr><td>Descripcion</td>  <td>Permite actualizar costos en la base de datos</td></tr>
  <tr><td>Verbo HTTP</td>  <td>Verbo PUT</td></tr>
  <tr><td>Header:</td>  <td>token:token </td></tr>
  <tr><td>Request json</td>  <td>    {
    "precio": "100.78",
    "fk_id_actividad": 2,
    "fk_id_tipo_recursos": 1
  } </td></tr>
  <tr><td>Respuesta json</td>  <td>	
    Correcto: 
    Status: 200
    json:
    {
      "precio": 2000,
      "nombre_actividad": "fumigare",
      "tiempo": "04:12:11",
      "observaciones": "hol apa",
      "valor_actividad": 13213,
      "nombre_recursos": "pala",
      "cantidad_medida": 0,
      "unidades_medida": "",
      "extras": ""
  }
  <br>
Incorrecto:

Status: 404
body:{
  "status": 404
  "message": "No se pudo actualizar la información!"
}
<br>
Error: 

Status: 500 
json: {
  status: 500
  "message" : "Error en el sistema"
}
</td></tr>
<tr><td>Nombre Desarrollador:</td> <td>Sharit Daniela Vargas Almario (devsdv)</td></tr>
</table>
<hr> <br>
<table>
  <tr><td>Número</td> <td>4</td></tr>
  <tr><td>Nombre del Servicio</td>  <td>Buscar costos</td></tr>
  <tr><td>URI</td>  <td>/buscar/id_cultivo</td></tr>
  <tr><td>Descripcion</td>  <td>Permite buscar los costos registrados en la base de datos</td></tr>
  <tr><td>Verbo HTTP</td>  <td>Verbo GET</td></tr>
  <tr><td>Header:</td>  <td>token:token </td></tr>
  <tr><td>Request json</td>  <td></td></tr>
  <tr><td>Respuesta json</td>  <td>	
    Correcto: 
    Status: 200
    json:
    {
      "id_costos": 2,
      "precio": 300,
      "nombre_actividad": "pas",
      "tiempo": "12:32:12",
      "observaciones": "no",
      "valor_actividad": 213134,
      "nombre_recursos": "fertilizante el machito",
      "cantidad_medida": 1222,
      "unidades_medida": "litro",
      "extras": "no se necesito nada mas"
  }
  <br>
Incorrecto:

Status: 404
body:{
  "status": 404
  "message" : "No se encontraron cultivos con ese ID"
}
<br>
Error: 

Status: 500 
json: {
  status: 500
  "message" : "Error en el sistema"
}
</td></tr>
<tr><td>Nombre Desarrollador:</td> <td>Sharit Daniela Vargas Almario (devsdv)</td></tr>
</table>
</body>
</html>