/* styles.css */
#inicio {
    background: linear-gradient(rgba(107, 107, 107, 0.7), rgba(167, 167, 167, 0.7));
    background-size: cover;
    background-position: center center;
    height: 100vh;
}